@charset "UTF-8";

@import url("//hello.myfonts.net/count/29ff86");

  
@font-face {
	font-family: 'UniversLTPro-55Roman';
	src: url('../font/29FF86_0_0.eot');
	src: url('../font/29FF86_0_0.eot?#iefix') format('embedded-opentype'),
	     url('../font/29FF86_0_0.woff') format('woff'),
	     url('../font/29FF86_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'UniversLTPro-65Bold';
	src: url('../font/29FF86_1_0.eot');
	src: url('../font/29FF86_1_0.eot?#iefix') format('embedded-opentype'),
	     url('../font/29FF86_1_0.woff') format('woff'),
	     url('../font/29FF86_1_0.ttf') format('truetype');
}
 